@import "tailwindcss";
@plugin "tailwindcss-safe-area";

html {
  min-height: calc(100% + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.dark body {
  background-color: #121212;
}

.my-indicator {
  opacity: 0;
  transition: opacity 150ms ease-in;
  transition-delay: 200ms;
}
.htmx-request.my-indicator {
  opacity: 1;
}

.button {
  @apply flex gap-2 justify-center items-center p-2 rounded cursor-pointer whitespace-nowrap;
}

.button-primary {
  @apply cursor-pointer;
}

.button-danger {
  @apply bg-red-700 active:bg-red-500;
}

@source inline("bg-red-500 bg-yellow-500 bg-blue-500 bg-teal-500 bg-green-700 bg-blue-800 opacity-40");
