@defer (base.html; playing_info=playing_info) {
  <div class="flex flex-col gap-8">
    <div
      id="title" class="sticky top-0 flex max-h-full grow flex-col gap-4 bg-black/80 backdrop-blur"
    >
      <h1 class="text-2xl">Add {{ track.title }} to playlist</h1>
    </div>

    <form
      hx-post="/playlist/add-track"
      hx-trigger="submit"
      hx-swap="none"
      class="w-full space-y-4 rounded-xl bg-gray-900 p-6 text-gray-100 shadow-lg sm:w-fit sm:self-center"
    >
      <div class="flex flex-col items-center gap-4 sm:flex-row sm:items-center">
        <img
          src="{{ track.image }}"
          alt="{{ track.title }}"
          class="mx-auto aspect-square w-30 rounded-lg object-cover sm:mx-0 md:w-64"
        />
        <div
          class="flex w-full min-w-0 flex-col gap-1 text-center sm:w-auto sm:text-left"
        >
          <span
            class="max-w-full truncate overflow-hidden whitespace-nowrap text-gray-300 sm:max-w-88 md:max-w-md"
          >
            {{ track.artist_name }}
          </span>
          <span
            class="max-w-full truncate overflow-hidden text-lg font-semibold whitespace-nowrap text-gray-100 sm:max-w-88 md:max-w-md"
          >
            {{ track.title }}
          </span>
          <span
            class="max-w-full truncate overflow-hidden whitespace-nowrap text-gray-400 sm:max-w-88 md:max-w-md"
          >
            {{ track.album_title }}
          </span>
          @defer (
            info.html;
            hires_available=track.hires_available;
            explicit=track.explicit
          ) {}
        </div>
      </div>

      <div>
        <label for="playlist_id" class="font-semibold">Select playlist</label>
        <select
          id="playlist_id"
          name="playlist_id"
          required
          class="w-full rounded-lg border border-gray-700 bg-gray-800 px-3 py-2 text-gray-100 focus:ring-2 focus:ring-indigo-500 focus:outline-none"
        >
          <option value="" disabled selected class="text-gray-400">
            Choose a playlist
          </option>
          @for (playlist in playlists) {
            <option value="{{ playlist.id }}">{{ playlist.title }}</option>
          }
        </select>
      </div>

      <input type="hidden" name="track_id" value="{{ track.id }}" />

      <button type="submit" class="button button-primary w-full">
        Add to Playlist
      </button>
    </form>
  </div>
}
