<div
  class="p-safe-or-4 flex w-full flex-wrap items-end justify-center gap-4 *:max-w-sm"
>
  <img
    src="{{ album.image }}"
    alt="{{ album.title }}"
    class="size-full rounded-lg object-contain"
  />

  <div class="flex w-full grow flex-col items-center gap-4">
    <div
      class="flex w-full flex-col items-center justify-center gap-2 text-center"
    >
      <a
        href="/artist/{{ album.artist.id }}"
        class="rounded text-gray-400 sm:text-lg"
      >
        {{ album.artist.name }}
      </a>
      <span class="text-lg sm:text-xl">{{ album.title }}</span>
      <span class="flex gap-2 text-gray-400 sm:text-lg">
        <span>{{ album.release_year }}</span>
        <span>•︎</span>
        <span>{{ duration }} minutes</span>
      </span>
    </div>

    @defer (button-group.html) {
      <button
        class="button button-primary"
        hx-swap="none"
        hx-put="/album/{{ album.id }}/play"
      >
        <span class="size-6">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-10 0 970 1024" width="100%" height="100%">
            <g transform="matrix(1 0 0 -1 0 960)">
              <path fill="currentColor" d="M31 910v-924q0 -21 14.5 -35.5t35.5 -14.5q6 0 12.5 1.5t12.5 5.5l798 462q18 10 23.5 30t-5.5 38q-3 6 -7.5 10.5t-10.5 7.5l-798 462q-18 11 -38 5.5t-30 -23.5q-4 -6 -5.5 -12t-1.5 -13v0z" />
            </g>
          </svg>
        </span>
        <span>Play</span>
      </button>

      @defer (
        toggle-favorite.html;
        id=album.id;
        is_favorite=is_favorite;
        api="/album"
      ) {}
      @if (rfid) {
        <button
          class="button button-primary"
          hx-swap="none"
          hx-put="{{ album.id }}/link"
        >
          <span class="size-6">
            @defer (icons/link.html) {}
          </span>
          <span>Link RFID</span>
        </button>
      }
    }
  </div>
</div>
<div class="flex w-full flex-col gap-4">
  <div class="sm:p-4">
    @defer (
      album-tracks.html;
      album=album;
      playing_info=playing_info;
      click=click
    ) {}
  </div>

  @if (suggested_albums) {
    <div class="flex w-full flex-col gap-2">
      <h3 class="px-4 text-lg">Album suggestions</h3>
      @defer (list-albums-vertical.html; albums=suggested_albums) {}
    </div>
  }
  @if (album.description) {
    @defer (
      description.html;
      description=album.description;
      title=album.title
    ) {}
  }
</div>
