<div class="flex flex-col">
  <div class="max-w-md self-center p-4">
    <img
      src="{{ artist.image }}"
      alt="{{ artist.name }}"
      class="size-full rounded-lg object-contain"
    />
  </div>

  <div class="flex w-full grow flex-col items-center gap-4 p-4">
    <h1 class="text-2xl">{{ artist.name }}</h1>
    @defer (button-group.html) {
      <button
        class="button button-primary"
        hx-swap="none"
        hx-put="{{ artist.id }}/play-top-track/0"
      >
        <span class="size-6">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-10 0 970 1024" width="100%" height="100%">
            <g transform="matrix(1 0 0 -1 0 960)">
              <path fill="currentColor" d="M31 910v-924q0 -21 14.5 -35.5t35.5 -14.5q6 0 12.5 1.5t12.5 5.5l798 462q18 10 23.5 30t-5.5 38q-3 6 -7.5 10.5t-10.5 7.5l-798 462q-18 11 -38 5.5t-30 -23.5q-4 -6 -5.5 -12t-1.5 -13v0z" />
            </g>
          </svg>
        </span>
        <span>Play</span>
      </button>

      @defer (
        toggle-favorite.html;
        id=artist.id;
        is_favorite=is_favorite;
        api="/artist"
      ) {}
    }
  </div>

  <div class="flex flex-col gap-4">
    <div
      data-sse="tracklist"
      hx-trigger="tracklist"
      hx-target="#top-tracks"
      hx-get="{{ artist.id }}/top-tracks"
    >
      <h3 class="px-4 text-lg">Top tracks</h3>
      <div id="top-tracks">
        @defer (
          list-tracks.html;
          now_playing_id=playing_info.now_playing_id;
          tracks=top_tracks;
          show_artist=false;
          show_track_cover=true;
          click=click
        ) {}
      </div>
      <a href="/artist/{{ artist.id }}/top-tracks/page" class="button">
        Show more
      </a>
    </div>

    <div class="flex flex-col gap-2">
      <h3 class="px-4 text-lg">Albums</h3>
      @defer (list-albums-vertical.html; albums=albums) {}
    </div>
    @if (similar_artists) {
      <div class="flex flex-col gap-2">
        <h3 class="px-4 text-lg">Similar artists</h3>
        @defer (list-artists-vertical.html; artists=similar_artists) {}
      </div>
    }
    @if (artist.description) {
      @defer (
        description.html;
        description=artist.description title=artist.name
      ) {}
    }
  </div>
</div>
