<div
  hx-get="/controls"
  hx-trigger="tracklist"
  data-sse="tracklist"
  hx-target="this"
>
  <div class="h-16"></div>
  <div id="other-page-controls-container" class="fixed right-0 left-0">
    <div
      class="flex items-center justify-between gap-2 bg-gray-900/70 p-2 backdrop-blur"
    >
      <a
        class="flex w-full items-center gap-2 overflow-hidden"
        hx-target="unset"
        href="{{ playing_info.entity_link }}"
      >
        <div
          class="aspect-square size-10 rounded-md bg-gray-800 bg-cover bg-center bg-no-repeat shadow"
          style="@if(playing_info.cover_image){background-image: url({{
            playing_info.cover_image
          }});}"
        ></div>
        <div class="flex flex-wrap gap-2 overflow-hidden leading-none">
          <span class="truncate">{{ playing_info.entity_title }}</span>
          <span class="truncate text-gray-500">{{ playing_info.title }}</span>
        </div>
      </a>
      <div class="flex items-center gap-6">
        <span id="player-controls-previous" class="hidden items-center justify-center sm:flex">
          @defer (previous.html) {}
        </span>
        <span id="player-controls-play-pause" class="flex items-center justify-center">
          @defer (player-state.html; playing_info=playing_info) {}
        </span>
        <span id="player-controls-next" class="flex items-center justify-center">
          @defer (next.html) {}
        </span>
      </div>
    </div>
  </div>
</div>
