<head>
  <title>Qobuz Player</title>
  <link rel="shortcut icon" href="/assets/favicon.svg" type="image/svg" />
  <link rel="manifest" href="/assets/manifest.json" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=5 viewport-fit=cover"
  />
  <link rel="stylesheet" href="/assets/styles.css" />
  <link rel="stylesheet" href="/assets/custom.css" />
  @defer (apple-header.html) {}

  <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  <script src="https://unpkg.com/htmx-ext-preload@2.1.0/preload.js"></script>
  <script src="https://unpkg.com/htmx-ext-remove-me@2.0.0/remove-me.js"></script>
  <script src="https://unpkg.com/idiomorph@0.7.3"></script>
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
  <script src="/assets/script.js?version=100"></script>
</head>
