@if (explicit || hires_available) {
  <div class="flex items-center gap-2">
    @if (explicit) {
      <div class="size-6 whitespace-nowrap text-gray-400">
        <svg height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M21 3H3v18h18V3zm-6 6h-4v2h4v2h-4v2h4v2H9V7h6v2z"
            fill="currentColor"
          />
        </svg>
      </div>
    }
    @if (hires_available) {
      <div class="size-6 whitespace-nowrap text-gray-400">
        <img src="/assets/svg/wave.svg" alt="" class="size-6 object-contain" />
      </div>
    }
  </div>
}
