@defer (base.html; active_page="Library"; playing_info=playing_info) {
  <div
    class="flex flex-col px-4"
    data-sse="tracklist"
    hx-trigger="tracklist"
    hx-get=""
    hx-target="this"
    hx-swap="outerHTML"
  >
    <div
      class="pt-safe-or-4 sticky top-0 flex max-h-full grow flex-col gap-4 bg-black/80 pb-2 backdrop-blur"
    >
      <h1 class="text-2xl">Library</h1>
      <div
        class="group flex justify-between *:rounded-full *:px-2 *:py-1 *:transition-colors"
      >
        <a
          href="albums"
          class="@if (tab=='albums') {bg-blue-800}"
          preload="mouseover"
          preload-images="true"
        >
          Albums
        </a>
        <a
          href="artists"
          class="@if (tab=='artists') {bg-blue-800}"
          preload="mouseover"
          preload-images="true"
        >
          Artists
        </a>
        <a
          href="playlists"
          class="@if (tab=='playlists') {bg-blue-800}"
          preload="mouseover"
          preload-images="true"
        >
          Playlists
        </a>
        <a
          href="tracks"
          class="@if (tab=='tracks') {bg-blue-800}"
          preload="mouseover"
          preload-images="true"
        >
          Tracks
        </a>
      </div>
    </div>

    @if (tab == "albums") {
      @defer (list-albums.html; albums=library.albums) {}
    }
    @if (tab == "artists") {
      @defer (list-artists.html; artists=library.artists) {}
    }
    @if (tab == "playlists") {
      <a class="button button-primary w-fit" href="/playlist/create">
        @defer (icons/plus.html) {}
        Create playlist
      </a>

      @defer (list-playlists.html; playlists=library.playlists) {}
    }
    @if (tab == "tracks") {
      @defer (
        list-tracks.html;
        click="/api/track/play";
        api_by_id=true;
        tracks=library.tracks;
        show_track_cover=true;
        show_artist=true;
        is_favorite=true
      ) {}
    }
  </div>
}
