@defer (list.html) {
  @for (track in tracks) {
    @defer (list-item.html) {
      <div class="flex gap-4">
        <button
          hx-swap="none"
          hx-put="@if(api_by_id){{{click}}{{ track.id }}} @else {{{ click }}{{
            index
          }}}"
          class="flex w-full min-w-0 cursor-pointer items-center justify-between text-left disabled:cursor-default disabled:text-gray-500"
          @if(!track.available){disabled}
        >
          <div class="flex w-full items-center gap-4 overflow-hidden">
            <div
              class="@if(show_track_cover) {size-12 aspect-square} flex items-center justify-center"
            >
              @if (show_track_cover) {
                <div
                  class="flex aspect-square size-12 items-center justify-center"
                >
                  <div
                    class="relative aspect-square size-12 overflow-hidden rounded-md"
                  >
                    <div
                      class="@if (track.id == now_playing_id) {opacity-40 } h-full w-full rounded-md bg-gray-800 bg-cover bg-center bg-no-repeat"
                      style="background-image: url({{ track.image }});"
                    ></div>

                    @if (track.id == now_playing_id) {
                      <div
                        class="absolute inset-0 grid place-items-center text-blue-500"
                      >
                        <span class="size-6">
                          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-10 0 970 1024" width="100%" height="100%">
                            <g transform="matrix(1 0 0 -1 0 960)">
                              <path fill="currentColor" d="M31 910v-924q0 -21 14.5 -35.5t35.5 -14.5q6 0 12.5 1.5t12.5 5.5l798 462q18 10 23.5 30t-5.5 38q-3 6 -7.5 10.5t-10.5 7.5l-798 462q-18 11 -38 5.5t-30 -23.5q-4 -6 -5.5 -12t-1.5 -13v0z" />
                            </g>
                          </svg>
                        </span>
                      </div>
                    }
                  </div>
                </div>
              } @else {
                @if (track.id == now_playing_id) {
                  <div class="size-5 text-blue-500">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-10 0 970 1024" width="100%" height="100%">
                      <g transform="matrix(1 0 0 -1 0 960)">
                        <path fill="currentColor" d="M31 910v-924q0 -21 14.5 -35.5t35.5 -14.5q6 0 12.5 1.5t12.5 5.5l798 462q18 10 23.5 30t-5.5 38q-3 6 -7.5 10.5t-10.5 7.5l-798 462q-18 11 -38 5.5t-30 -23.5q-4 -6 -5.5 -12t-1.5 -13v0z" />
                      </g>
                    </svg>
                  </div>
                } @else {
                  <span class="w-5 text-center text-gray-400">
                    {{ track.number }}
                  </span>
                }
              }
            </div>
            @if (show_artist && track.artist_name) {
              <div class="flex flex-col overflow-hidden">
                <h2 class="truncate">{{ track.title }}</h2>
                <h3 class="truncate text-sm text-gray-400">
                  {{ track.artist_name }}
                </h3>
              </div>
            } @else {
              <h2 class="w-full truncate">{{ track.title }}</h2>
            }
          </div>
          @defer (
            info.html;
            hires_available=track.hires_available;
            explicit=track.explicit
          ) {}
        </button>

        <div class="action-group relative w-12 overflow-hidden">
          <span
            class="pointer-events-none absolute inset-y-0 left-0 flex w-full items-center justify-center text-white"
          >
            @defer (icons/bars-4.html) {}
          </span>
          <input type="hidden" name="track_id" value="{{ track.id }}" />
          <select
            name="action"
            class="size-full cursor-pointer appearance-none text-transparent"
            hx-trigger="change"
            hx-put="/api/track/action"
            hx-swap="none"
            hx-include="closest .action-group"
            hx-on::after-request="this.value=''"
          >
            <option value="" disabled hidden selected>Choose action</option>
            @if (is_favorite) {
              <option value="remove_favorite">Remove from favorite</option>
            } @else {
              <option value="add_favorite">Add to favorite</option>
            }
            <option value="add_to_playlist">Add to playlist</option>
            <option value="add_to_queue">Add to queue</option>
            <option value="play_next">Play next</option>
          </select>
        </div>
      </div>
    }
  }
}
