<div class="h-full overflow-auto" id="search-content">
  @if (discover) {
    <div class="flex flex-col gap-8">
      @for (album_feature in discover.albums) {
        <div class="flex flex-col gap-2">
          <h3 class="text-lg">{{ album_feature[0] }}</h3>
          @defer (list-albums-vertical.html; albums=album_feature[1]) {}
        </div>
      }
      @for (playlist_feature in discover.playlists) {
        <div class="flex flex-col gap-2">
          <h3 class="text-lg">{{ playlist_feature[0] }}</h3>
          @defer (list-playlists-vertical.html; playlists=playlist_feature[1]) {}
        </div>
      }
    </div>
  } @else {
    @if (tab == "albums") {
      @defer (list-albums.html; albums=search_results.albums) {}
    }
    @if (tab == "artists") {
      @defer (list-artists.html; artists=search_results.artists) {}
    }
    @if (tab == "playlists") {
      @defer (list-playlists.html; playlists=search_results.playlists) {}
    }
    @if (tab == "tracks") {
      @defer (list.html) {
        @for (track in search_results.tracks) {
          @defer (list-item.html) {
            <div class="flex gap-4">
              <button
                class="flex w-full cursor-pointer items-center gap-4"
                hx-put="/api/track/play/{{ track.id }}"
                hx-swap="none"
              >
                <img
                  class="inline aspect-square size-12 rounded-md bg-gray-800 text-sm text-gray-500"
                  alt="{{ track.title }}"
                  src="{{ track.image_thumbnail }}"
                />

                <div class="w-full overflow-hidden">
                  <div class="flex items-center justify-between">
                    <h3 class="truncate text-lg">{{ track.title }}</h3>
                  </div>

                  <h4 class="flex gap-2 text-left text-gray-400">
                    <span class="truncate">{{ track.artist_name }}</span>
                  </h4>
                </div>
                @defer (
                  info.html;
                  explicit=track.explicit;
                  hires_available=track.hires_available
                ) {}
              </button>

              <div class="action-group relative w-12 overflow-hidden">
                <span
                  class="pointer-events-none absolute inset-y-0 left-0 flex w-full items-center justify-center text-white"
                >
                  @defer (icons/bars-4.html) {}
                </span>
                <input type="hidden" name="track_id" value="{{ track.id }}" />
                <select
                  name="action"
                  class="size-full cursor-pointer appearance-none text-transparent"
                  hx-trigger="change"
                  hx-put="/api/track/action"
                  hx-swap="none"
                  hx-include="closest .action-group"
                  hx-on::after-request="this.value=''"
                >
                  <option value="" disabled hidden selected>Choose action</option>
                  <option value="add_to_queue">Add to queue</option>
                  <option value="play_next">Play next</option>
                </select>
              </div>
            </div>
          }
        }
      }
    }
  }
</div>
