<!doctype html>
<html lang="en" class="dark h-full">
  @defer (head.html) {}
  <body class="flex h-full flex-col justify-between text-gray-50">
    <div class="flex h-full w-full items-center justify-center">
      <form class="flex flex-col gap-4" action="/auth/login" method="post">
        <input
          class="w-full rounded bg-white p-2 text-black"
          type="password"
          id="secret"
          name="secret"
          placeholder="Secret"
        />
        <button class="button button-primary" type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
